/** { box-sizing: border-box;}   This wildcard applies to all elements ensuring a box layout model */
/* { box-sizing: border-box; }*/

 html {
    
    overflow-x: hidden;
}

/************Body****************/

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Noto Serif', serif;
    font-weight: 400;
    background-color: #ddd;
  
}

/************Header****************/

header {
    
    display: flex;
    flex-direction: row;
    margin: 0 auto 0;
     /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,666666+25,474747+39,2c2c2c+50,000000+51,111111+60,2b2b2b+76,1c1c1c+91,131313+100;Black+Gloss+%231 */
    background: rgb(76,76,76); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    overflow: hidden;

}

header h1 {
       
    color: #fff;
    font-weight: 700;
    margin-bottom: -10px;
    position: relative;
    font-size: 1.8em;
    margin: 20px;
            
}

header .logo {
    
    float: left;
    margin: 1rem 2% 0 1rem;
  
}

header .heading {
 
   display: flex;
    flex-flow: column;
    margin-bottom: 2px;
      
}

header .heading h1 {
    
    color: #fff;
    margin-bottom: 0px;
}

header .heading h2 {
    
    color: #fff;
    font-size: .9rem;
    margin-top: 0px;
    margin-bottom: 2px;
    position: relative;
}

/************Nav****************/

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #fff;
}

nav {
    margin-top: 0;
    background-color: #87ceeb;
    margin-bottom: 40px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
        
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: rgba(255,255,255,0.8);
    border-top: 1px solid rgba(0,0,255,0.3)
            
}

nav ul li.active a{
    background-color: rgba(0,0,255,0.5);
    
}

nav ul li a:hover {
    background-color: rgba(0,0,255,0.4);
}

nav ul.hide {display: none;}

/************Main****************/

main {
   
    padding: 0 2%;
    min-height: 10rem;
    background-color: #fff;
    box-shadow: 15px 10px 15px 10px RGB(128, 128, 128);
}

.container {
    margin: 0 auto;
    padding: 37px 37px
    
    
}

.gallery {
    
    margin-bottom: 10px;
    grid-template-columns: auto;
    border: 3px solid black;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
}

.gallery img {
    width: 100%;
}

main div h5 {
    display: flex;
    justify-content: center;
    
}

/*main picture.intro {width: 50%; margin: 0;}*/
main picture.intro img {width: 100%;}

main .image-article {
    
    float:left;
    overflow: hidden;
    margin: auto;
    padding: 15px;
}

main .town-article {
    
    padding: 15px;
    margin-left: 6px;
}

main .title-article {
    
    margin-top: 60px;
}

section.forecast{
    
    display: none;
}

section.weather-summary h3 {
    color: black;
    background: none;
    
}

section.weather-summary {
   
    grid-template-columns: auto;
          
}

section.weather-summary article {
    background: #fff;
    
}

section.weather-summary p {
    
    margin-left: 10px;
}

section.weather-summary div img {
    margin-left: 10px;
}

section.weather-summary article {
     border: 1px solid black;
     border-radius: 8px;
}
 
.current {
    
    display: flex;
    flex-flow: column;
    border: 1px solid black;
    border-radius: 8px;
    background: #fff;
    
    
}

sup {
    
    vertical-align: text-top;
    font-weight: 700;
}

span.today  {
    
    margin-left: 10px;
    font-size: 40px;
}

p.banner {
    margin-left: 10px;
}

P.ctemp {
    margin-left: 10px;
    margin-top: 3px;
    margin-bottom: 0px;
}

p.feel {
    margin-left: 10px;
    margin-top: 2px;
}

p.describe {
    margin-left: 10px;
    margin-bottom: 2px;
}

main picture img{
    
    margin-left: auto;
    

}

.highlow {
    
    
     display: flex;
    flex-flow: column;
}

p.temph {
    
    margin-left: 10px;
    margin-bottom: 2px;
}

p.templ {
    
    margin-left: 10px;
    margin-top: 2px;
}

p.prec {
    margin: 0 10px;
    
}

p.wind {
    margin-top: 0;
    margin-left: 10px;
}

.conditions {
    
    margin-left: 10px;
    display: flex;
    flex-flow: column;
}

main h2, h3 {
    
    font-family: arial, helvetica, sans-serif;
    font-size: 1.2em;
     margin-left: .5em;
}

article {
    
    margin-top: 1em;
    margin-bottom: 1em;
    border-style: solid;
    border-width: thin;
    border-radius: 8px;
    background-color: #fff;
}

fieldset {
    background-color: #fff;
}

/************Footer****************/

#bsw-footer{
   
    font-size: 13px;
	border-top: 1px solid #97999b;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    padding: 26px 26px;
    width: 100%;
     /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,666666+25,474747+39,2c2c2c+50,000000+51,111111+60,2b2b2b+76,1c1c1c+91,131313+100;Black+Gloss+%231 */
    background: rgb(76,76,76); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */;
    
}     

.footer-top {
    
    margin: auto;
    width: 50%;
    display: flex;
}

.social-link {
    
    font-size: 14px;
    color: #fff;
    margin-right: 10px;
    font-weight: 700;
}

.social-footer li {
    
    display: inline-block;
    vertical-align: middle;
}

.fa {
    
  padding: 10px;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
    
  /*background: #125688;*/
    font-size: 40px;
  color:white;
}

footer .contact {
    
    margin: 10px 0;
    text-align: center;
}

.contact address {
    
    
    font-size: 14px;
    margin-top: 20px;
    color: #fff;
    overflow: hidden;
    vertical-align: middle;
}

.footer-bar {
    
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 50%;
	padding: 10px;
    text-align: center;
    font-size: 14px;
    color: gray;
 }

.footer-bar p {
    
    color: #fff;
    margin-bottom: 0px;
}

.footer-bar a {
    
    color: #fff;
    padding: 10px;
  }

/************Clearfix Hack****************/

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/************Form****************/

form fieldset h5 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #445ba9;
}

form fieldset {
    margin: 2rem 0;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2% 2rem;
    box-shadow: 5px 10px 15px #445ba9;
    
}

form legend {
    color: #fff;
    margin: 0 1rem;
    padding: 0 .5rem;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

form label.top, form div{
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: .9rem;
}

form label.top input, form label.top select {
    -webkit-appareance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}

.textinput{
    float:left;
    min-height: 75px;
    outline: none;
    resize: none;
    border: 1px solid grey;
    
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
}

form input.submitBtn {
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
    box-shadow: 0 9px #999;
    -webkit-transition: all 150ms ease;
	transition: all 150ms ease;
}

form input.submitBtn:hover, form input.submitBtn:focus{
   -webkit-animation: pulsate 1.2s linear infinite;
	animation: pulsate 1.2s linear infinite;
}

@-webkit-keyframes pulsate
{
	0%   { color: #ddd; text-shadow: 0 -1px 0 #000; }
	50%  { color: #fff; text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff; }
	100% { color: #ddd; text-shadow: 0 -1px 0 #000; }
}
		
@keyframes pulsate
{
	0%   { color: #ddd; text-shadow: 0 -1px 0 #000; }
	50%  { color: #fff; text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff; }
	100% { color: #ddd; text-shadow: 0 -1px 0 #000; }
}

form input.submitBtn:active
{
	color: #fff;
	text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff;
	box-shadow: 0 1px 0 #666, 0 2px 0 #444, 0 2px 2px rgba(0,0,0,0.9);
	-webkit-transform: translateY(3px);
	transform: translateY(3px);
	-webkit-animation: none;
	animation: none;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

/********thankyoucss*********/

.approve {
     border: green solid 2px;
     margin-bottom: 50px;
    box-shadow: 10px 5px 15px green;
    
}

.approve img {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
}

.approve p {
    display: flex;
    justify-content: center;
    margin-left: 5px;
   
   
    
}

.thk { 
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    font-family: serif;
    font-size: 3rem;    
    -webkit-animation: pulsate 1.2s linear infinite;
    animation: pulsate 1.2s linear infinite;
    
    }

    @-webkit-keyframes pulsate
    {
        0%   { color: #FF0000; text-shadow: 0 -1px 0 #000; }
        50%  { color: #fff; text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff; }
        100% { color: #FF0000; text-shadow: 0 -1px 0 #000; }
    }

    @keyframes pulsate
    {
        0%   { color: #FF0000; text-shadow: 0 -1px 0 #000; }
        50%  { color: #fff; text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff; }
        100% { color: #FF0000; text-shadow: 0 -1px 0 #000; }
    }
    
/********homecss*********/

section.info {
      
    grid-template-columns: auto;
    
    
    
}

section.info p {
    
    margin-left: 10px;
   
        
}

section.info article {
    
    border: 3px solid black;
    border-radius: 6px;
    background-color: #fff;
    
    
}

section.info article h3 {
    
    
    
    
}

main {
    overflow: hidden;
}

