table {
    font-family: ubuntu, sans-serif;
    border-collapse: collapse;
    width: 75%;
    margin:1em auto;
    
}
    
.tallwide{
    width: 25%;
    box-shadow: 5px 10px 15px #628ca6;
    }
caption {
    border: 1px solid black;
    font-size: 1.5em;
    font-weight: bold;
    padding: 8px;
    background-color: #7fb9c2;
    
    }

td, th {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
    
}
    
.test {
    background-color: #628ca6;
    color: #fff;
    }

 th {
     background-color: #628ca6;
     color: #fff;
    }

tr:nth-child(even) {
    background-color: #e7ffed;
}
    
tbody tr:nth-child(odd) {
          background-color: #e7f0ed;
}
tfoot {
    background-color: #7fb9c2;
    }