@media only screen and (min-width: 64em) {
    
    * {
            box-sizing: border-box;
        }
   
    
    body { 

        background-color: rgba(60, 60, 60, 0.1);/*rgb(128,128, 0, 0.4);*/
    }

    .text-block-index {
        top: 200px;
        font-size: 30px;
        max-width: 500px;
    }

    nav {
        display: flex;
        justify-content: space-between;
        
    }

    nav ul {


    }

    nav ul li a { 
        padding: .6rem 1rem;

    }

        
    .service-info {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 2%;
        
        
    }

    .container {

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        margin-left: auto;
        margin-right: auto;

            /*display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;*/      

    }
    
    .offer p {
        text-align: center;
        margin-top: 0;
    }


    .sales {

        display: inline-flex;
        font-size: 12px;
        text-align: center;
        margin-bottom: 10px;
        text-decoration: none;

    }

    

    main figure.intro {width: 100%; margin: 0;}
    main figure.intro img {width: 100%;}

        
    article.container-welcome {
        display: flex;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 4%;
        background-color: #fff;
        box-shadow: 5px 10px 15px black;

    }
    
    .title-info {
        display: flex;
        justify-content: space-between;
    }
    
    .info a {
        font-size: 12px;
        margin-top: 2%;
        margin-right: 2%;
    }

      section.info {
        display: grid;    
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }

    section.info article:hover {
        box-shadow: 5px 10px 15px blue;
    }
            
        /* Event and Contact Page */
    
    form label.cp input, form label.cp textarea  {
            /*width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;*/
        display: block;
        font-size: 1rem;
        border: solid 1px #999;
        border-radius: 4px;
        padding: .75rem;
        color: #555;
        width: 100%;
        max-width: 20rem;
        background-color: rgba(0,0,0,0.1);
            
    }
    
    form label.cp textarea {
        max-width: 35rem;

    }

    input[type=submit] {
            /*background-color: #4CAF50;
            color: white;
            padding: 12px 20px;
            border: none;
            cursor: pointer;*/
        border: none;
        background-color: #4CAF50;
        color: white;
        border-radius: 1rem;
        padding: .75rem 1.5rem;
        margin: 10px 0 2rem 2%;
        width: 96%;
        max-width: 20rem;
        box-shadow: 0 9px #999;
    }

    input[type=submit]:hover {
        background-color: #45a049;
        }
    
    form label.cp input:required {
        border-left: red solid 6px;
    }

    form label.cp input:required:valid {
        border-left: green solid 6px;
    }


    .map-container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 10px;
    }

    .column {
        float: left;
        width: 50%;
        margin-top: 6px;
        padding: 20px;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }
        
    @media screen and (max-width: 600px) {
        .column, input[type=submit] {
            width: 100%;
            margin-top: 0;
        }
    }
       
    
    
      
  }