body {
    background-image: url("../images/bike2.jpg");
    background-color:#222;
    text-align:center;
    font-family: "Open Sans";
}

#fire {
    color: #f5f5f5;
    text-shadow:
    0px -2px 4px #fff,
    0px -2px 10px #FF3,
    0px -10px 20px #F90,
    0px -20px 40px #C33;
    font-size: 100px;
}

#burning {
	color: #fff;
	text-shadow: 0px -1px 4px white, 0px -2px 10px yellow, 0px -10px 20px #ff8000, 0px -18px 40px red;
	font: 80px 'BlackJackRegular';
}

$color1: #EB4A2C;
$color2: #F5ECCF;
$color3: #640E13;
$color4: #FCB043;
$cubic-bezier: cubic-bezier(0.68, -0.55, 0.265, 1.55);

//initial text-shadow function
@function textShadow($color){
	//value variable: x-value, y-value, color value;
	$val: 0px 0px $color;
	//loop to create text-shadow variables moving 1px to the left and 1 down
	@for $i from 1 through 50{
		$val: #{$val}, -#{$i}px #{$i}px #{$color};
	}
	//return value
	@return $val;
}

@function textAnimationShadow($color1, $color2,$color3,$color4,$color5){
	$val1: 0px 0px $color1;
	$val2: 0px 0px $color2;
	$val3: 0px 0px $color3;
	$val4: 0px 0px $color4;
	$val5: 0px 0px $color5;
	@for $i from 1 through 10{
		$val1: #{$val1}, -#{$i}px #{$i}px #{$color1};
	}
	@for $i from 11 through 20{
		$val2: #{$val2}, -#{$i}px #{$i}px #{$color2};
	}
	@for $i from 21 through 30{
		$val3: #{$val3}, -#{$i}px #{$i}px #{$color3};
	}
	@for $i from 31 through 40{
		$val4: #{$val4}, -#{$i}px #{$i}px #{$color4};
	}
	@for $i from 41 through 50{
		$val5: #{$val5}, -#{$i}px #{$i}px #{$color5};
	}
	@return $val1, $val2, $val3, $val4, $val5;
}

//mixin to create initial text-shadow
@mixin shadow($shadow-color){
	text-shadow: textShadow($shadow-color);
}
//mixin to create animation shadow, can enter 5 color variables
@mixin animationShadow($shadow-color1, $shadow-color2,$shadow-color3, $shadow-color4, $shadow-color5){
	text-shadow: textAnimationShadow($shadow-color1, $shadow-color2,$shadow-color3, $shadow-color4, $shadow-color5);
}

body,html{
	height: 100%;
}

/*body{
	background: $color4;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
}*/

#cool-letter{
    
	font-family: 'Shrikhand', cursive;
    display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	text-align: center;
	font-weight: normal;
	font-size: 7rem;
	color: $color2;
	@include shadow($color1);
	animation: color 2s ease-in infinite;
}

@keyframes color{
	0%,10%{
		color: $color1;
		@include shadow($color3);
	}
	11%,20%{
		color: $color1;
		@include animationShadow($color3,$color3,$color3,$color3,$color1);
	}
	21%, 30%{
		color: $color1;
		@include animationShadow($color3,$color3,$color3,$color1,$color1);
	}
	31%, 40%{
		color: $color1;
		@include animationShadow($color3,$color3,$color1,$color1,$color1);
	}
	41%, 50%{
		color: $color1;
		@include animationShadow($color3,$color1,$color1,$color1,$color1);
	}
	51%,60%{
		color: $color2;
		@include animationShadow($color1,$color1,$color1,$color1,$color1);
	}
	61%,100%{
		color: $color2;
		@include animationShadow($color1,$color1,$color1,$color1,$color1);
	}
}

.button {
  /* text styles */
  font-size: 50px;
  text-align: center;
  line-height: -25px;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  
  /* box styles */
  display: inline-block;
  height: 70px;
  width: 250px;
  padding: 0 10px;
  border: 1px solid;
  border-color: #2d86b6 #24659e #255796;
  border-radius: 82px;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.2) inset, 0 1px 1px rgba(1, 4, 8, 0.2);
  
  /* gradients */
  background-color: #52b6ec;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF52B6EC', endColorstr='#FF2E75CE');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #52b6ec), color-stop(100%, #2e75ce));
  background-image: -webkit-linear-gradient(top, #52b6ec 0%, #2e75ce 100%);
  background-image: -moz-linear-gradient(top, #52b6ec 0%, #2e75ce 100%);
  background-image: -o-linear-gradient(top, #52b6ec 0%, #2e75ce 100%);
  background-image: linear-gradient(top, #52b6ec 0%, #2e75ce 100%);
    
}
.button:hover {
  text-decoration: none;
  border-color: #377cae #175a9c #0c4893;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.2) inset, 0 1px 1px rgba(5, 64, 140, 0.2);
  
  background-color: #4fa6e4;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF4FA6E4', endColorstr='#FF1462C4');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4fa6e4), color-stop(100%, #1462c4));
  background-image: -webkit-linear-gradient(top, #4fa6e4 0%, #1462c4 100%);
  background-image: -moz-linear-gradient(top, #4fa6e4 0%, #1462c4 100%);
  background-image: -o-linear-gradient(top, #4fa6e4 0%, #1462c4 100%);
  background-image: linear-gradient(top, #4fa6e4 0%, #1462c4 100%);
}
.button:active {
  border-color: #094b84 #094b84 #0f4585;
  box-shadow: 0 1px 1px rgba(241, 243, 247, 0.2), 0 0 20px rgba(0, 0, 0, 0.5) inset;
  
  background-color: #1c7ec9;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF1C7EC9', endColorstr='#FF2395D9');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1c7ec9), color-stop(100%, #2395d9));
  background-image: -webkit-linear-gradient(top, #1c7ec9 0%, #2395d9 100%);
  background-image: -moz-linear-gradient(top, #1c7ec9 0%, #2395d9 100%);
  background-image: -o-linear-gradient(top, #1c7ec9 0%, #2395d9 100%);
  background-image: linear-gradient(top, #1c7ec9 0%, #2395d9 100%);
}
