body, html {
	margin:0px;
	padding:0px;
	position:relative
}

h1.title {
    text-align: left;
    margin-left: 10px;
 }

.return {
    font-size: 25px
}

.return {
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 10px;
    width: 96%;
    max-width: 12rem;
    box-shadow: 0 9px #999;
    -webkit-transition: all 150ms ease;
	transition: all 150ms ease;
}

.return:hover, form input.submitBtn:focus{
   -webkit-animation: pulsate 1.2s linear infinite;
	animation: pulsate 1.2s linear infinite;
}

@-webkit-keyframes pulsate
{
	0%   { color: #ddd; text-shadow: 0 -1px 0 #000; }
	50%  { color: #fff; text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff; }
	100% { color: #ddd; text-shadow: 0 -1px 0 #000; }
}
		
@keyframes pulsate
{
	0%   { color: #ddd; text-shadow: 0 -1px 0 #000; }
	50%  { color: #fff; text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff; }
	100% { color: #ddd; text-shadow: 0 -1px 0 #000; }
}

.return:active
{
	color: #fff;
	text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff;
	box-shadow: 0 1px 0 #666, 0 2px 0 #444, 0 2px 2px rgba(0,0,0,0.9);
	-webkit-transform: translateY(3px);
	transform: translateY(3px);
	-webkit-animation: none;
	animation: none;
}


.navigation {
	position: relative;
	left: 0px;
	padding: 0px;
	margin: 0px;
	font-family: sans-serif;
	text-shadow:0px 0px 1px rgba(0,0,0,0.2);
	list-style: none;
	top: 70px;
	height: 97px;
}

.navigation > li {
	position: relative;
	background: rgba(0,0,0,0.2);
	width: 150px;
	height: 10px;
	padding: 20px;
	margin-top: 2px;
	left: -188px;
	border-right: 50px solid red;
	-webkit-transition: left 500ms;
	   -moz-transition: left 500ms;
	    -ms-transition: left 500ms;
	     -o-transition: left 500ms;
	        transition: left 500ms;
}


li.openSesame {
	left:0px;
}