@media only screen and (min-width: 37.5em) {
     
    section.forecast { display: inline-block; }  /* show the 10-day forecast with the medium view and up */

 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.forecast td, .forecast th {
	padding: .5em;
	text-align: center;
    vertical-align: top;

 }
}